<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kickball Website</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>



    <h1>TODO list</h1>

    <ul>
      <% @player_data.each do |playa| %> 
          <%if playa["team"] == "Flinestone Fire"%>
         <li><%="#{playa["last_name"]}, #{playa["first_name"]}: #{playa["position"]}" %></li> 
     
          
          
       <% end %>
       <% end %>
    </ul>
  </body>
</html>